<div style="width: 100%;height: 100%; display: flex; flex-direction: row; background-color: rgb(237, 237, 237);">

    <div style="width: 15%;height: 100%;">
        <app-menu-bar style="width: 100%; height: 100%;"></app-menu-bar>
    </div>
    
    <div style="width: 85%;height: 100%; display: flex; flex-direction: column; justify-content: space-around; gap: 0px; align-items: stretch;">

        <div style="width: 100%;height: 40px;">
            <app-banner-user style="width: 100%; height: 100%;"></app-banner-user>
        </div>

        <div style="width: auto;height: 100%; display: flex; flex-direction: column; margin-right: 2%; margin-left: 2%; margin-top: 2%;">
            <div style="width: 100%;height: auto; margin-bottom: 10px;">
                <app-info-count-users style="width: 100%; height: 100%;"></app-info-count-users>
            </div>
    
            <div style="width: 100%;height: 40%; display: flex; flex-direction: row; justify-content: space-between;">
                <div style="width: 67%;height: 100%;">
                    <app-maps-vehicle style="width: 100%; height: 100%;"></app-maps-vehicle>
                </div>
    
                <div style="width: 26%;height: 100%;">
                    <app-notificaciones style="width: 100%; height: 100%;"></app-notificaciones>
                </div>
            </div>
    
            <div style="width: 100%;height: 40%; margin-top: 10px;">
                <app-driver-schedule style="width: 100%; height: 100%;"></app-driver-schedule>
            </div>
    
        </div>

    </div>

</div>

      