<div class="menu">
    <div class="logo">
      <img src="assets/FleteX_logo-removebg-preview.png" alt="FLETX Logo">
    </div>
  
  <!-- Sección Pre-Operación con colapso -->
  
  <ul class="submenu-container">
    <li class="open">
        <h1 (click)="toggleSubmenu($event)"  class="arrow">Pre-Operación</h1>
        <ul class="submenu">    
            <li><a >Generadores de carga</a></li>
            <li><a >Productos</a></li>
            <li><a >Zonas de riesgo</a></li>
        </ul>
    </li>
    
  </ul>


  <ul class="submenu-container">
    <li class="open">
        <h1 (click)="toggleSubmenu($event)" class="arrow" >Conductores y vehículos</h1>
        <ul class="submenu">    
            <li><a >Conductores</a></li>
            <li><a >Vehículos</a></li>
            <li><a >Trailers</a></li>
            <li><a >Propietario - Poseedor</a></li>
            <li><a >Estaciones combustible</a></li>
        </ul>
    </li>
  </ul>  




    <ul class="submenu-container">
        <li class="open">
            <h1 (click)="toggleSubmenu($event)"class="arrow">Operación</h1>
            <ul class="submenu">    
                <li><a >TruckBoard</a></li>
                <li><a >Tráfico y monitoreo</a></li>
                <li><a >Histórico de servicios</a></li>
                <li><a >Vehículos sin ubicación</a></li>
                <li><a >Anticipos y transacciones</a></li>
                <li><a >Manejo tarjetas</a></li>
                <li><a >Negocios realizados</a></li>
                <li><a >Planificador de servicios</a></li>
                <li><a >Soporte a conductor</a></li>
                <li><a >Reportes inasistencia</a></li>
            </ul>
        </li>
    </ul>       
  


    <ul class="submenu-container">
        <li class="open">
            <h1 (click)="toggleSubmenu($event)" class="arrow">Configuración</h1>
            <ul class="submenu">    
                <li><a >Usuarios</a></li>
            </ul>
        </li>
    </ul>       
  
  